# Compiled Object files
*.o
*.obj
*.lo
*.slo

# Executables
*.exe
*.out
*.app

# Libraries
*.lib
*.a
*.so
*.dll
*.dylib

# Precompiled Headers
*.gch
*.pch

# Build directories (e.g., CMake, Visual Studio)
build/
bin/
obj/
Debug/
Release/
x64/
Win32/
out/
.vs/
*.vcxproj.user
*.suo
*.opensdf
*.sdf
ipch/

# IDE-specific files (e.g., Visual Studio, CLion, VS Code)
.idea/
.vscode/
*.user
*.bak
*.log
*.swp
*~

# gitignore template for Bazel build system
# website: https://bazel.build/

# Ignore all bazel-* symlinks. There is no full list since this can change
# based on the name of the directory bazel is cloned into.
/bazel-*

# Directories for the Bazel IntelliJ plugin containing the generated
# IntelliJ project files and plugin configuration. Seperate directories are
# for the IntelliJ, Android Studio and CLion versions of the plugin.
/.ijwb/
/.aswb/
/.clwb/
.cache/
